<div class="card my-3">
  <div class="card-body">
    <p class="card-title alert alert-primary">HAL API</p>
    <p>Creation date: <strong>{{ halInfo?.createDate | date:'dd-MM-yyyy HH:MM:ss' }}</strong></p>
    <p>Last updated date: <strong>{{ halInfo?.modifyDate | date:'dd-MM-yyyy HH:MM:ss' }}</strong></p>
    <p>Total: <strong>{{ halInfo?.total }}</strong> </p>
    <p>Status: <strong> {{ halInfo?.status }} </strong> </p>
    <div>
      Start
      <button (click)="start()" class="btn btn-primary mr-2"><i class=" material-icons">
          play_circle_outline</i></button>
    </div>
  </div>

</div>

<div class="card my-3">
  <div class="card-body">
    <p class="card-title alert alert-primary">Semantic Scholar</p>
    <p>Last updated date: <strong>{{ eprintInfo?.modifyDate }}</strong></p>
    <p>Total: <strong>{{ eprintInfo?.total }}</strong> </p>
    <p>Status: <strong> {{ eprintInfo?.status }} </strong> </p>
    <div>
      Try to continue from offset
      <button class="btn btn-primary mr-2"><i class=" material-icons"> play_circle_outline</i></button>
    </div>
  </div>
</div>
<div class="card my-3">
  <p style="align-self: center;" class="card-title alert alert-danger">Reset database</p>
  <button class="btn btn-danger" (click)="delete()"><i class=" material-icons"> settings_backup_restore</i></button>
</div>